
.navbar{
    width: 98.5%;
    height: 80px;
    background-color: #ffcd00;
    box-shadow: 1px 3px 4px #A6A6A6;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9;
    
}



.navbar .logo{
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-menu{
    width: 80%;
    height: 80%;
}


#menu_botao{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    font-size: 50%;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;

}

#menu_carrinho{
    
    height: 30px;
    margin-right: 20px;
}



#dropdown-content {
    display: none;
    position: absolute;
    background: #dcab00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 2% -95%;
    width: 94.8%;
}

div#carrinho{
    background-color: #ffcd00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1%; 
    padding-left: 2.5%;
    padding-right: 2.5%;
}

a#btn-sucess {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

a#btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

